extend mobile-layout.pug
include includes/desktop/nav-redirect
include includes/desktop/pagination

block pages
  -
    const dataProducts = [
      {
        title: 'Bể nước đứng Sơn Hà 2000L (Φ1140)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Sơn Hà 2000L đứng( Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Nhựa Sơn Hà 1000L ngang',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Nhựa Sơn Hà 1000L đứng',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 1000L ngang (Φ960) - SHN1000F960',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn Inox Sơn Hà đứng 1000L (Φ960) - SHD1000F960',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 5000L ngang (Φ1420)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước inox Sơn Hà ngang SHN 1350 (Φ1050)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 1200L ngang (Φ980)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 2500L ngang (Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 2500L ngang (Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 2500L ngang (Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 2500L ngang (Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
      {
        title: 'Bồn nước Inox Sơn Hà 2500L ngang (Φ1380)',
        price: '5.730.000',
        oldPrice: '6.704.000',
        des: 'Áp dụng cho khách hàng gọi điện, đến trực tiếp hoặc chát! Miễn phí vẫn chuyển toàn quốc Miễn phí khảo sát tư vấn, lắp đặt',
        sale: '14%',
        image: './images/product-image.jpg'
      },
    ]

  +navRedirect(['35 Bồn nước Sơn Hà', '35 Bồn inox Sơn Hà'])

  .category-detail-page.category-detail-mobile-page
    #category-sidebar
      button.category-filter-close Đóng lại
      .category-sidebar-overlay
      .category-sidebar
        .filter-group
          h3 Nhãn hiệu
          .checkbox-group
            input(type="checkbox" id="Sơn Hà (35)")
            label(for="Sơn Hà (35)") Sơn Hà (35)
        .filter-group
          h3 Khoảng giá
          each item in [' Dưới 2 triệu (11)', '2 triệu - 3 triệu (44)', '3 triệu - 5 triệu (99)', '5 triệu - 8 triệu (7)', '8 triệu - 10 triệu (6)', '10 triệu - 15 triệu (77)', '15 triệu - 20 triệu (11)']
            .checkbox-group
              input(type="checkbox" id=`${item}`)
              label(for=`${item}`)= item

        .filter-group
          h3 Kiểu dáng
          .row
            each item in ['Bồn đứng (17)', 'Bồn ngang (18)']
              .col-6
                .checkbox-group
                  input(type="checkbox" id=`${item}`)
                  label(for=`${item}`)= item

          .filter-group
            h3 Dung tích
            .row
              each item in ['500L (2)', '700L (2)', '1000L (2)', '1200L (2)', '1350L (2)', '1500L (3)', '2000L (2)']
                .col-6
                  .checkbox-group
                    input(type="checkbox" id=`${item}`)
                    label(for=`${item}`)= item

          .filter-group
            h3 Đường kính
            .row
              each item in ['Φ 720 (4)', 'Φ 960 (4)', 'Φ 980 (4)', 'Φ 1050 (4)', 'Φ 1140 (4)']
                .col-6
                  .checkbox-group
                    input(type="checkbox" id=`${item}`)
                    label(for=`${item}`)= item


    .category-filter.flex
      a(href="#").filter-item
        p.caption Bồn nước Inox đứng
        img(src="./images/category-filter-image-1.jpg", alt="")
      a(href="#").filter-item
        p.caption Bồn nước Inox ngang
        img(src="./images/category-filter-image-2.jpg", alt="")

    .category-product-main
      .category-sort.flex.items-center.flex-wrap
        p Sắp xếp theo
        each item in ['Bán chạy', 'Giá tăng dần', 'Giá giảm dần']
          .checkbox-group
            input(type="checkbox" id=`${item}`)
            label(for=`${item}`)= item
        button.category-filter-btn.flex.items-center.justify-center
          img(src="./images/icon-filter.svg", alt="")
          |Lọc
            
      .category-product
        .container
          .list-product-component
            .list-items.row
              each item in dataProducts
                a(href="#").product-item.col-6
                  .product-image
                    img(src=`${item.image}`, alt="")
                    .product-sale.flex.items-center.justify-center
                      img(src="./images/icon-sale.png", alt="")
                      span= item.sale
                  .product-info
                    h2.product-name= item.title
                    p.product-price= item.price
                    del.product-old-price= item.oldPrice
                    p.product-description= item.des

      +pagination([1,2])

    .category-detail-description
      h2 Bồn nước inox Sơn Hà chính hãng 
      p
        a(href="#") Téc nước inox Sơn Hà 
        |luôn là sự lựa chọn hàng đầu của các gia đình vì những ứng dụng tuyệt vời mà nó đem lại. Một trong những chức năng chính của sản phẩm: chứa được dung tích nước lớn, bảo vệ an toàn cho nguồn nước của bạn. Do đó, hãy cùng tham khảo mức giá bán tại đây để có sự lựa chọn hoàn hảo nhất bạn nhé.

      h2 4 lý do để bạn lựa chọn bồn inox Sơn Hà
      p Nếu như bạn vẫn đang phân vân không biết bể chứa nước inox Sơn Hà có thật sự phù hợp cho gia đình hay không thì hãy tin tưởng vì 4 lý do sau đây:
      ul
        li Bể chứa nước inox Sơn Hà sử dụng chất liệu cao cấp được làm từ inox và nhựa PE cao cấp. Sản phẩm giúp giữ nước vệ sinh, không gỉ, không bị bào mòn và sử dụng được trong thời gian lâu dài.
        li Kích thước bồn nước inox Sơn Hà có rất nhiều size tương đương với rất nhiều thể tích. Bạn sẽ căn cứ vào không gian đặt bình và mức độ dùng nước mong muốn để lựa chọn.
        li
          a(href="#") Bồn nước Sơn Hà 
          | được áp dụng công nghệ tiên tiến nhất và đạt được chứng nhận ISO 9001: 2010.
        li Thời gian bảo hành bể inox Sơn Hà lâu dài lên tới 15 năm. Bạn có thể hoàn toàn yên tâm về chất lượng khi sử dụng. Đồng thời, bạn sẽ tiết kiệm được tối đa chi phí bỏ ra.
      h2 Bảng giá bồn nước inox Sơn Hà
      p
        |Giá bể nước inox Sơn Hà được bán với nhiều mức giá dựa vào từng nhãn hiệu kiểu dáng và thể tích. Để mua được téc nước inox Sơn Hà giá rẻ bạn hãy nhanh tay đặt mua ngay trên website
        a(href="#")  Đại lý bồn inox Sơn Hà chính hãng 
        |  để có cơ hội nhận ưu đãi và được miễn phí vận chuyển, lắp đặt.
      p Tham khảo thêm sản phẩm téc nước inox cùng tập đoàn Sơn hà:
      ul
        li
          a(href="#") Bồn nước toàn thắng
        li
          a(href="#") Bồn nước SHC
          